<launch>
    <param name="robot_description" command="xacro '$(find my_firts_robot_model)/urdf/my_robots_super_model.xacro'" /> 
    <arg name="gui" default="False" />   
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_firts_robot_model)/rviz/rviz_config.rviz" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <rosparam>
    zeros:
        arm_unit_1_joint: -1.5708
        arm_unit_2_joint: 1.5708
        sliding_unit_1_joint:   0.85
    </rosparam>
</launch>